{% extends "base.html" %}
{% block content %}

<section class="section-padding">

    <div class="d-flex flex-column gap-4">

        <!-- Map + Top Right Info -->
        <div class="position-relative">
            <div id="map"></div>

            <div class="top-right" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="My local area time :D">
                <div class="d-flex align-items-center gap-1">
                    <i class="ph ph-clock fs-6"></i>
                    <h6 class="font-monospace mb-0" id="clock"></h6>
                </div>
                <p class="text-muted small mb-0 font-monospace">
                    New Delhi,India
                </p>
                <p class="text-muted small mb-0 font-monospace">
                    GMT +5:30
                </p>
            </div>
        </div>

        <!-- Name + Intro -->
        <div>
            <div class="d-flex align-items-center flex-wrap gap-2 row-gap-0 mb-1">
                <h2 class="fw-semibold mb-0" id="textToSpeak">Chitesh Malhotra</h2>
                <h2 class="fw-semibold mb-0 text-secondary">- Data Scientist</h2>
                <a id="speakButton" class="pt-2 text-decoration-none text-muted">
                    <i class="ph ph-speaker-high fs-5"></i>
                </a>
            </div>

            <p class="lead text-muted mb-0 fw-normal">
                I transforms data into actionable insights using
                <span class="core-skill">{{ stack["python"]|safe }} Python</span>,
                <span class="core-skill">{{ stack["pandas"]|safe }} Pandas</span> and

                <span class="core-skill">{{ stack["sql"]|safe }} SQL</span>.
                I am currently expanding my expertise into web development.
            </p>
        </div>

        <!-- Buttons -->
        <div class="d-flex flex-column gap-2">

            <div class="d-flex gap-2 flex-wrap">
                <a href="{{ url_for('static', filename='media/chitesh_malhotra.pdf') }}"
                    class="btn custom-btn-secondary d-flex align-items-center gap-1 fs-5">
                    <i class="ph ph-user"></i> Resume
                </a>

                <a href="{{ url_for('contact') }}" class="btn custom-btn-primary d-flex align-items-center gap-1 fs-5">
                    <i class="ph ph-paper-plane-tilt"></i> Get in touch
                </a>
            </div>

            <!-- Social Icons -->
            <div class="d-flex gap-3 flex-wrap">
                <a href="{{ links.github_url }}" target="_blank" class="icon text-muted fs-4" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="{{ links.github }}">
                    <i class="ph ph-github-logo"></i>
                </a>

                <a href="{{ links.linkedin_url }}" target="_blank" class="icon text-muted fs-4" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="{{ links.linkedin }}">
                    <i class="ph ph-linkedin-logo"></i>
                </a>

                <a href="{{ links.twitter_url }}" target="_blank" class="icon text-muted fs-4" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="{{ links.twitter }}">
                    <i class="ph ph-twitter-logo"></i>
                </a>

                <a href="{{ links.email_url }}" target="_blank" class="icon text-muted fs-4" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="{{ links.email }}">
                    <i class="ph ph-envelope-simple"></i>
                </a>
            </div>

        </div>
    </div>

</section>


<!-- <div class="pt-3 mx-auto orbit">
            <div class="orbit-big">
                <i class="devicon-docker-plain text-warning orbit-icon fs-4 i1"></i>
                <i class="devicon-numpy-plain colored orbit-icon fs-4 i2"></i>
                <i class="devicon-pandas-plain text-danger orbit-icon fs-4 i3"></i>
                <i class="devicon-azuresqldatabase-plain text-success orbit-icon fs-4 i4"></i>
                <div class="orbit-small">
                    <i class="devicon-python-plain text-primary orbit-icon fs-4 i1"></i>
                    <i class="devicon-github-original orbit-icon fs-4 i3"></i>
                </div>
            </div>
        </div> -->

<section class="section-padding">
    <div class="d-flex align-items-bottom">
        <div class="d-flex align-items-center gap-2 mb-1 me-auto">
            <i class="ph ph-code fs-2 text-accent"></i>
            <h2 class="fw-semibold mb-0">Projects</h2>
        </div>
        <a href="{{ url_for('project_page')}}" class="viewall-link d-flex align-items-center">
            <span class="small">View all</span>
            <i class="ph ph-arrow-right"></i>
        </a>
    </div>

    <div class="d-flex flex-column gap-4">
        {% for project in projects %}
        <div class="card p-3 rounded-3 position-relative card-hover">

            <!-- Full-card clickable -->
            <a href="{{ project.url }}" class="stretched-link"></a>
            <div class="d-flex align-items-top mb-0">
                <h4 class="fw-semibold me-auto ">{{ project.title }}</h4>
                <div class="badge rounded-pill border px-2 py-1 shine-effect mb-auto me-2 fw-semibold d-flex gap-1 align-items-center text-normal
                {% if project.state == 'Completed' %}border-success bg-success-subtle{% else %}border-warning bg-warning-subtle{% endif %}"
                    style="z-index: 5;">
                    <div
                        class="{% if project.state == 'Completed' %}dot bg-success{% else %}pulse-dot bg-warning{% endif %}">
                    </div>
                    {{ project.state }}
                </div>

                <i class="ph ph-push-pin fs-5"></i>
            </div>
            <div class="d-flex flex-column flex-md-row gap-3">

                <!-- Image -->
                <div class="image-container">
                    <img src="{{ url_for('static', filename=project.image) }}">
                </div>


                <!-- Right Content -->
                <div class="d-flex flex-column gap-2">
                    <p class="text-muted small mb-0">
                        {{ project.description }}
                    </p>

                    <div class="d-flex align-items-center flex-wrap gap-1" style="z-index: 5;">
                        <i class="ph ph-tag fs-5 text-secondary"></i>
                        {% for tag in project.tags %}
                        <span class="badge rounded-pill border px-2 py-1 text-muted shine-effect">
                            {{ tag|capitalize }}
                        </span>
                        {% endfor %}
                    </div>

                    <div class="d-flex align-items-center gap-2 mt-auto" style="z-index: 5;">
                        <a href="{{ project.github }}"
                            class="btn custom-btn-secondary d-flex align-items-center gap-1 small btn-sm"
                            target="_blank">
                            <i class="ph ph-github-logo fs-5"></i>
                            Code
                        </a>

                        <a href="{{ project.url }}"
                            class="btn custom-btn-primary d-flex align-items-center gap-1 small btn-sm" target="_blank">
                            <i class="ph ph-globe fs-5"></i>
                            Project
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="section-padding">
    <div class="row g-3">
        <!-- About -->
        <div class="col-12 col-md-8">
            <div class="shadow-sm p-3 rounded-3 h-100 d-flex flex-column">
                <div class="d-flex align-items-center gap-1 mb-2">
                    <i class="ph ph-sunglasses text-accent fs-4"></i>
                    <h5 class="mb-0">Chitesh Malhotra</h5>
                </div>
                <p class="text-muted mb-0">
                    I'm a Data Scientist who loves giving insights that have real-world impact.
                    I specialize in building data analysis pipelines and extracting meaningful insights.
                </p>
            </div>
        </div>

        <!-- Connect -->
        <div class="col-12 col-md-4">
            <div class="shadow-sm p-3 rounded-3 h-100 d-flex flex-column">
                <div class="d-flex align-items-center gap-1 mb-2">
                    <i class="ph ph-coffee text-accent fs-4"></i>
                    <h5 class="mb-0">Let’s connect</h5>
                </div>
                <p class="text-muted small mb-3">
                    Always open to interesting projects & conversations.
                </p>
                <a href="{{ url_for('contact') }}" target="_blank"
                    class="btn custom-btn-primary btn-sm d-flex align-items-center gap-2 justify-content-center mt-auto">
                    <i class="ph ph-paper-plane-tilt"></i>
                    Get in touch
                </a>
            </div>
        </div>

    </div>

    <!-- Row 2 -->
    <div class="row g-3 mt-1">
        <!-- Chess -->
        <div class="col-12 col-md-4">
            <div class="shadow-sm p-3 rounded-3 h-100 d-flex flex-column">
                <div class="d-flex align-items-center gap-1 mb-2">
                    <i class="ph ph-castle-turret text-accent fs-5"></i>
                    <h5 class="mb-0">Chess</h5>
                </div>
                <p class="text-muted small mb-3">
                    Chess is my addiction and I’m deep into it.
                </p>
                <a href="https://www.chess.com/member/chitesh_malhotra" target="_blank"
                    class="btn custom-btn-primary btn-sm d-flex align-items-center justify-content-center gap-2 mt-auto">
                    <i class="ph ph-play"></i> Play
                </a>
            </div>
        </div>
        <!-- Skills -->
        <div class="col-12 col-md-8">
            <div class="shadow-sm p-3 rounded-3 h-100 d-flex flex-column">
                <div class="d-flex align-items-center gap-1 mb-3">
                    <i class="ph ph-gear text-accent fs-5"></i>
                    <h5 class="mb-0">Stack</h5>
                </div>
                <div class="d-flex flex-wrap align-items-center gap-2">
                    {% for skill, value in stack.items() %}
                    <div class="d-flex align-items-center gap-1 border rounded-2 px-2 py-1 shine-effect">
                        <div class="fs-5">{{ value|safe }}</div>
                        <span class="fw-medium">{{ skill|capitalize }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="disc"><i class="ph ph-vinyl-record fs-1"></i>
    </div> -->
</section>

{% endblock %}