{% extends "base.html" %}
{% block content %}
<section class="section-padding">
    <h1 class="text-center">Resume</h1>
    <p class="lead text-center">Everything I’d put on paper.</p>
    <div class="text-center">
        <a href="{{ url_for('static', filename='media/chitesh_malhotra.pdf') }}" target="_blank"
            class=" btn custom-btn-secondary btn-sm">Pop-out resume</a>
        <a href="{{ url_for('static', filename='media/chitesh_malhotra.pdf') }}" download="chitesh_malhotra_resume.pdf"
            class="btn custom-btn-primary btn-sm">Download resume</a>
    </div>
    <hr class="my-4">
    <embed src="{{ url_for('static', filename='media/chitesh_malhotra.pdf') }}" type="application/pdf" height="1010px"
        width="100%">
</section>

{% endblock %}